
.job_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.jobCard{
    display: flex;
    width: 80vw;
    padding: 10px 20px;
    box-shadow: 0px 0px 22px 2px #FF202040;
  
}

.left_card{
    display: flex;
    width: 50%;
    justify-content: space-between;
    gap: 20px;
    
}

.log_details{
    display: flex;
    gap: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25%;
    
}

.jobPosition{
    font-family: Roboto;
    font-size: 19.49px;
    font-weight: 500;
    line-height: 17.39px;
    text-align: left;
}

.companyLogo{
    height: 60px;
    width: 60px;
}

.salry_team{
    display: flex;
    gap: 20px;
    
}

.mode{
    display: flex;
    gap: 20px;
    font-family: Roboto;
    font-size: 15.1px;
    font-weight: 500;
    line-height: 13.47px;
    text-align: left;
    color:#ED5353;
}

.salry_team p{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 18.38px;
    font-weight: 500;
    line-height: 16.39px;
    text-align: left;
    color:#9C9C9C;
    
}

.location{
    display: flex;
    align-items: center;
}

.details{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right_card{
    width: 50%;
    display: flex;
    gap: 10px;
    padding: 0 20px;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.viewDetailsBtn{
    width: 154px;
    height: 36.5px;
    color: white;
    gap: 0px;
    border: none;
    background-color: #ED5353;
    cursor: pointer;
    border-radius: 3.92px;
    font-family: DM Sans;
    font-size: 19.61px;
    font-weight: 500;
    line-height: 28.25px;
    text-align: center;

}

.location{
    font-family: Roboto;
    font-size: 18.38px;
    font-weight: 500;
    line-height: 16.39px;
    text-align: left;
    color:#9C9C9C;
}

.skill{
    display: flex;
    gap: 10px;
}


.skillTag{
    display: flex;
    align-items: center;
    padding: 0 15px;
    width: auto;
    height: 30px;
    border-radius: 1.43px;
    background-color: #FFEEEE;
    font-family: DM Sans;
    font-size: 15.94px;
    font-weight: 500;
    line-height: 22.96px;
    text-align: center;
}

.btn{
    display: flex;
    gap: 10px;
}